/*
Global styles
 */

p {
	font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, a {
	font-family: 'Old Standard TT', serif;
}

h1, h2, h3 {
	text-align: center;
	padding: 10px;
}

h1 {
	text-shadow: 1px 1px #777;
}

p {
	font-size: 17px;
	margin: auto;
}

/* for spacing */
.row {
	padding: 2rem;
}


/*
getting rid of extra space top and bottom
 */
.navbar
{
	margin-bottom: auto;
}


/*
makes navbar title smaller on tiny phone screens
 */
@media (max-width: 360px) {
	a.navbar-brand {
		font-size: 15px;
	}
}

footer {
	margin-bottom: auto;
}


body {
	background-color: lightgray ;
}

/*
Portfolio and team icons, images and text
 */



@media (max-width: 992px) {
	p, h2 {
		align-content: center;
		text-align: center; !important;
	}
	img, #icon, .headshot{
		align-content: center;
		text-align: center;
		display: block;
		margin: auto;
	}
}


/*
Everything re-sizes and centers with small screens
*/


#icon, img, .headshot{
	max-height: 127px;
	display: inline-block;
	float: none;
}

/*
Team
 */
.headshot {
	max-height: 20rem;
	display: block;
	float: none;
}



/*
News page panels and such
 */

/*
Gives the logo's more space to look better on small screens
 */
img[alt="Albuquerque Journal logo"] {
	padding: 10px;
}
img[alt="STC.UNM logo"] {
	padding: 10px;
}
img[alt="KRWG logo"] {
	padding: 10px;
}




/*
Home page parallax
 */

.parallax {
	background-image: url(../images/mountain-cables3-darker.jpg);
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 25rem;
	padding-top: 25rem;
}

.parallax2 {
	background-image: url(../images/cable-tower4-darker.jpg);
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 25rem;
	padding-top: 25rem;
}


/*
Home page buttons and stuff on 2nd parralax
 */
#button-header {
	color: white;
}

button {
	align-content: center;
	margin: auto;
	float: none;
	border-radius: 8px;
	border: 2px solid grey;
	background: top;
	display: inline-block;
	color: white;
	padding: 6px;
	text-align: center;
	transition: all 0.4s ease;
}

button:hover {
	background-color: grey;
}

#border {
	border: 2px solid grey;
	border-radius: 8px;
	padding: 10%;
}

/*
for small screens
 */
@media (max-width: 460px) {
	image[alt=""]
}


/*
Home page title overlaid on image
 */

@media (max-width: 630px) {
	.tvp-title {
		font-size: 22px;
		background-color: aliceblue;
		opacity: 0.6;
		display: inline;
		text-align: center;
	}
}

@media (min-width: 631px) {
	.tvp-title {
	background-color: aliceblue;
	opacity: 0.6;
	display: inline;
	text-align: center;
	font-size: 50px;
}
}

/*
Contact
 */
#contact {
	background-color: lightgray;
}


/*
About page
 */


.city-lights {
	background-image: url("../images/city-lights.jpg");
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;

}


/*
Logo/ brand in nav bar
 */
img[alt="Tramway Venture Partners Logo"] {
	display: inline-block;
	margin: auto;
	align-content: center;
	float: none;
}

/*
logo on about page
 */
img[alt="Tramway Venture Partners Logo 2"] {
	display: block;
	margin: auto;
	align-content: center;
	float: none;
}

/*
footer duh
 */
footer {
	text-align: center;
	background-color: darkgrey;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
}

