RewriteEngine on
RewriteCond %{HTTP_HOST} ^tramwayventures.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.tramwayventures.com$
#RewriteCond %{REQUEST_URI} !public_html/
#RewriteRule (.*) /public_html/$1 [L]

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]