/*
Global styles
 */

p {

	/*font-family: 'Frank Ruhl Libre', sans-serif;*/
	font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, a {
	font-family: 'Old Standard TT', serif;
}

h1 {
	text-align: center;
	padding: 25px;
}
p{
	font-size: 15px;
}

small {
	color: #0f8a89;
}



body {
	background-color: darkgrey ;
}

/*
Portfolio and team icons, images and text
 */




@media (max-width: 999px) {
	p, h2 {
		align-content: center;
		text-align: center; !important;
	}
	img, #icon{
		align-content: center;
		text-align: center;
		display: block;
		margin: auto;
	}


	/*
Everything centers with small screens
 */

}
img, #icon{
	max-height: 127px;
	display: inline-block;
	float: none;
}



/*
News page panels and such
 */
@media (max-width: 999px) {
	#press {
		padding-left: 50px;
	}
}


/*
Home page parallax
 */



/*
Adobe color wheel brand colors
light grey #D1D6D6
Turquoise #1FB9B7
Dark Grey #5F6163
 */