/*
Global styles
 */

p {

	/*font-family: 'Frank Ruhl Libre', sans-serif;*/
	font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, a {
	font-family: 'Old Standard TT', serif;
}

h1 {
	text-align: center;
}
p{
	font-size: 15px;
}




/*
Portfolio and team icons, images and text
 */



@media (max-width: 988px) {
	p, h2 {
		align-content: center;
		text-align: center; !important;
	}
	img, #icon{
		align-content: center;
		text-align: center;
		display: block;
		margin: auto;
	}

	/*
Everything centers with small screens
 */

}
img, #icon{
	max-height: 127px;
	display: inline-block;
	float: none;
}



/*
News page panels and such
 */

.panel-body {
	padding: 25px;
}
